{% extends "base.html" %}

{% block title %}Gestion des Classes{% endblock %}

{% block content %}
    <h1>Gestion des Classes</h1>

    <h2>Ajouter une Classe</h2>
    <form method="post">
        <label for="identifiant">Identifiant (max 7 car.):</label><br>
        <input type="text" id="identifiant" name="identifiant" maxlength="7" required><br><br>

        <label for="niveau">Niveau:</label><br>
        <input type="number" id="niveau" name="niveau" required><br><br>

        <label for="section">Section:</label><br>
        <input type="text" id="section" name="section" required><br><br>

        <label for="num_labo">Numéro de Labo:</label><br>
        <input type="number" id="num_labo" name="num_labo"><br><br>

        <button type="submit">Ajouter la Classe</button>
    </form>

    <hr>

    <h2>Classes Existantes</h2>
    <ul>
        {% for classe in classes %}
            <li>
                {{ classe.identifiant }} - Niveau {{ classe.niveau }} {{ classe.section }} (Labo: {{ classe.num_labo }})
                <div class="action-buttons">
                    <form method="post" action="{{ url_for('supprimer_classe', classe_id=classe.id) }}" style="display:inline;" onsubmit="return confirm('Attention ! Supprimer cette classe supprimera aussi tous les élèves inscrits. Êtes-vous sûr ?');">
                        <button type="submit">Supprimer</button>
                    </form>
                    <a href="{{ url_for('modifier_classe', classe_id=classe.id) }}">Modifier</a>
                </div>
            </li>
        {% else %}
            <li>Aucune classe n'a été ajoutée pour le moment.</li>
        {% endfor %}
    </ul>
{% endblock %}